name: x86-64 macOS ponyc update breakage test

on:
  repository_dispatch:
    types: [ponyc-x86_64-macos-nightly-released]

jobs:
  vs-ponyc-main-macos:
    name: Verify main against ponyc main on x86-64 macOS
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4.1.1
      - name: install pony tools
        run: bash .ci-scripts/macos-x86-install-pony-tools.bash nightly
      - name: Test with the most recent ponyc release
        run: |
          export PATH=/tmp/corral/bin/:/tmp/ponyc/bin/:$PATH
          make test
      - name: Send alert on failure
        if: ${{ failure() }}
        uses: zulip/github-actions-zulip/send-message@e4c8f27c732ba9bd98ac6be0583096dea82feea5
        with:
          api-key: ${{ secrets.ZULIP_SCHEDULED_JOB_FAILURE_API_KEY }}
          email: ${{ secrets.ZULIP_SCHEDULED_JOB_FAILURE_EMAIL }}
          organization-url: 'https://ponylang.zulipchat.com/'
          to: notifications
          type: stream
          topic: ${{ github.repository }} scheduled job failure
          content: ${{ github.server_url}}/${{ github.repository }}/actions/runs/${{ github.run_id }} failed.
