name: macOS ponyc update breakage test

on:
  repository_dispatch:
    types: [ponyc-macos-nightly-released]

jobs:
  vs-ponyc-main-macos:
    name: Verify main against ponyc main on macOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - name: install pony tools
        run: bash .ci-scripts/macOS-install-nightly-pony-tools.bash
      - name: Test with the most recent ponyc release
        run: |
          export PATH=/tmp/corral/bin/:/tmp/ponyc/bin/:$PATH
          make test
