name: Release

on:
  push:
    tags:
      - \d+.\d+.\d+

concurrency: release

jobs:
  # validation to assure that we should in fact continue with the release should
  # be done here. the primary reason for this step is to verify that the release
  # was started correctly by pushing a `release-X.Y.Z` tag rather than `X.Y.Z`.
  pre-artefact-creation:
    name: Tasks to run before artefact creation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v2
        with:
          ref: "main"
          token: ${{ secrets.RELEASE_TOKEN }}
      - name: Validate CHANGELOG
        uses: ponylang/release-bot-action@0.6.1
        with:
          entrypoint: pre-artefact-changelog-check

  x86-64-unknown-linux-release:
    name: Build and upload x86-64-unknown-linux to Cloudsmith
    runs-on: ubuntu-latest
    needs:
      - pre-artefact-creation
    container:
      image: ponylang/shared-docker-ci-x86-64-unknown-linux-builder-with-libressl-3.2.5:release
    steps:
      - uses: actions/checkout@v1
      - name: Build and upload
        run: bash .ci-scripts/release/x86-64-unknown-linux-release.bash
        env:
          CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}

  x86-64-apple-darwin-release:
    name: Build and upload x86-64-apple-darwin to Cloudsmith
    runs-on: macos-latest
    needs:
      - pre-artefact-creation
    steps:
      - uses: actions/checkout@v1
      - name: install pony tools
        run:  bash .ci-scripts/macOS-install-release-pony-tools.bash
      - name: brew install dependencies
        run: brew install coreutils
      - name: pip install dependencies
        run: pip3 install --upgrade cloudsmith-cli
      - name: Build and upload
        run: bash .ci-scripts/release/x86-64-apple-darwin-release.bash
        env:
          CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}

  build-release-docker-images:
    name: Build and push release Docker images
    runs-on: ubuntu-latest
    needs:
      - pre-artefact-creation
    steps:
      - uses: actions/checkout@v1
      - name: Docker login
        run: "docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD"
        env:
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      - name: Build and push
        run: bash .ci-scripts/release/build-docker-images-on-release.bash

  update-latest-release-tag:
    name: Update latest-release tag
    runs-on: ubuntu-latest
    needs:
      - pre-artefact-creation
    steps:
      - uses: actions/checkout@v1
      - name: Tag
        run: |
          git tag --force latest-release
          git push --force "https://${TOKEN}@github.com/${GITHUB_REPOSITORY}.git" latest-release
        env:
          TOKEN: ${{ secrets.RELEASE_TOKEN }}

  trigger-release-announcement:
    name: Trigger release announcement
    runs-on: ubuntu-latest
    needs:
      - x86-64-unknown-linux-release
      - x86-64-apple-darwin-release
      - build-release-docker-images
      - update-latest-release-tag
    steps:
      - uses: actions/checkout@v2
        with:
          ref: "main"
          token: ${{ secrets.RELEASE_TOKEN }}
      - name: Trigger
        uses: ponylang/release-bot-action@0.6.1
        with:
          entrypoint: trigger-release-announcement
        env:
          GIT_USER_NAME: "Ponylang Main Bot"
          GIT_USER_EMAIL: "ponylang.main@gmail.com"
