name: Release

on:
  push:
    tags:
      - \d+.\d+.\d+

jobs:
  x86-64-unknown-linux-release:
    name: Build and upload x86-64-unknown-linux to Cloudsmith
    runs-on: ubuntu-latest
    container:
      image: ponylang/shared-docker-ci-x86-64-unknown-linux-builder-with-ssl:release
    steps:
      - uses: actions/checkout@v1
      - name: Build and upload
        run: bash .ci-scripts/release/x86-64-unknown-linux-release.bash
        env:
          CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}

  x86-64-apple-darwin-release:
    name: Build and upload x86-64-apple-darwin to Cloudsmith
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - name: update homebrew
        run: brew update
      - name: install pony tools
        run:  bash .ci-scripts/macOS-install-pony-tools.bash
      - name: brew install dependencies
        run: brew install coreutils python
      - name: pip install dependencies
        run: pip3 install --upgrade cloudsmith-cli
      - name: Build and upload
        run: bash .ci-scripts/release/x86-64-apple-darwin-release.bash
        env:
          CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}

  build-release-docker-images:
    name: Build and push release Docker images
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Docker login
        run: "docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD"
        env:
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      - name: Build and push
        run: bash .ci-scripts/release/build-docker-images-on-release.bash

  trigger-release-announcement:
    name: Trigger release announcement
    runs-on: ubuntu-latest
    container:
      image: ponylang/shared-docker-ci-release:20191107
    needs: [x86-64-unknown-linux-release, x86-64-apple-darwin-release, build-release-docker-images]
    steps:
      - uses: actions/checkout@v1
      - name: Trigger release announcement
        run: bash .ci-scripts/release/trigger-release-announcement.bash
        env:
          RELEASE_TOKEN: ${{ secrets.RELEASE_TOKEN }}
